.App {
  text-align: center;
}




a {
  text-align: right;
  color: antiquewhite;
  margin: 10px;
  float: left;
}

header {
  background-color: brown;
  color: white;
  height: 70px;
  padding: 25px;
  margin-bottom: 20px;
  text-align: left;
}

#addMovie {
  margin: 20px;
}


#mainTitle {
  float: left;
  width: 90%
}

#links {
  float: left;
  width: 10%
}

#movieDescription {
  font-family: Arial, Helvetica, sans-serif
}