.App {
  text-align: center;
}

.details {
  color: white;
}


a {
  text-align: right;
  color: antiquewhite;
  margin: 10px;
  float: left;
}

header {
  background-color: brown;
  color: white;
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#addMovie {
  margin: 20px;
}

#mainTitle {
  float: left;
  width: 85%
}

#links {
  float: left;
  width: 15%
}

#movieDescription {
  font-family: Arial, Helvetica, sans-serif
}